@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* Reset properties */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

  /*Primary*/
--Orange: hsl(25, 97%, 53%);

/*Neutral*/

--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);

}



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Overpass', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--VeryDarkBlue);
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  place-content: center;
}